<!-- <p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/autenticacion/login">Ir a login</a>
    </li>
    <li>
        <a routerLink="/autenticacion/registro">Ir a registro</a>
    </li>
    <li><a routerLink="/jugadores/home">Jugador Home</a></li>
    <li><a routerLink="/jugadores/agregar">Agregar</a></li>
    <li><a routerLink="/jugadores/editar/:id">Editar</a></li>
    <li><a routerLink="/jugadores/buscar">Buscar</a></li>
    <li><a routerLink="/jugadores/jugador">Jugador</a></li>
    <li><a routerLink="/jugadores/listado"> Listado</a></li>
</ul> -->