<h2>Editar Jugador: </h2>

<div class="row">
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
              <input matInput
              type="text"
              [(ngModel)]="jugador.nombre"
              list="datalistOptions"
              id="exampleDataList">
              </mat-form-field> 
      
              <mat-form-field> 
              <mat-label>Dorsal</mat-label>
              <input matInput
              type="number"
              [(ngModel)]="jugador.dorsal"
              list="datalistOptions"
              id="exampleDataList">
              </mat-form-field>
              
              <mat-form-field> 
              <mat-label> Posicion </mat-label>
              <mat-select [(ngModel)]="jugador.posicion"
              (selectionChange)="onPosicionSelected($event )"
              >
                <mat-option *ngFor="let posicion of posiciones"
                [value]="posicion"
                >
                {{posicion}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            
          
              <mat-form-field> 
              <mat-label>Partidos jugados</mat-label>
              <input matInput
              type="text"
              min="0"
              [(ngModel)]="jugador.estadisticas![0].PJ"
              list="datalistOptions"
              id="exampleDataList">
              </mat-form-field>

              <mat-form-field> 
                <mat-label>Goles</mat-label>
                <input matInput
                type="number"
                min="0"
                [(ngModel)]="jugador.estadisticas![0].goles"
                list="datalistOptions"
                id="exampleDataList">
                </mat-form-field>

                <mat-form-field> 
                  <mat-label>Asistencias</mat-label>
                  <input matInput
                  type="number"
                  min="0"
                  [(ngModel)]="jugador.estadisticas![0].asistencias"
                  list="datalistOptions"
                  id="exampleDataList">
                  </mat-form-field>
      
              <mat-form-field>
              <mat-label>Imagen</mat-label>
              <input matInput
              type="text"
              [(ngModel)]="jugador.imagen"
              list="datalistOptions"
              id="exampleDataList">
            </mat-form-field>
              <button mat-button color="primary"
                (click)="agregarJugador()"
                matTooltip="Guardar cambios"
              >
              <span class="material-icons">done</span>         
            </button>

              <button
              *ngIf="jugador.id"
              mat-button color="warn" 
              matTooltip="Eliminar Jugador"
              (click)="borrarJugador()">
                <span class="material-icons">
                    delete
                    </span>
              </button>
    </div>
    <div class="col text-center" id="imagen">
        <img src="{{jugador | imagen}}" alt="">
    </div>
</div>
   


